{% extends "common/base.html" %}

{% load static %}

{% block head_title %}WhereToGo{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
crossorigin=""></script>
<link rel="stylesheet" type="text/css" href="{% static 'maps/css/map.css' %}" />
{% endblock %}

{% block content %}
<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-9 p-0">
            <div id="map"></div>
        </div>
        <div class="col-3 p-0">
            <div class="panel">
                <button>Тест</button>
            </div>
        </div>
        </div>
    </div>
</div>
<span id="facilityMarkerURL" style="display: none;">{% static "maps/img/place.png" %}</span>
{% endblock %}

{% block scripts %}
<script src="{% static 'maps/js/map.js' %}"></script>
{% endblock %}