{% extends "common/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <h1>{% trans "Sign Out" %}</h1>
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
